<div>
    <h1>Day 3 - Event binding, boolean flags</h1>
    <div>
        <div class="st-flex">
          <strong>Heading</strong>  
          <a (click)="showhide()">{{isVisible? 'Hide':'Show'}}</a>
        </div>
        <div *ngIf="isVisible">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi error aperiam eligendi, natus recusandae quibusdam. Numquam facilis officiis saepe nostrum quos ullam excepturi repellat minima quas sunt inventore, laudantium nemo quaerat, sit cumque nesciunt natus! Doloribus praesentium, error quasi nobis fugiat, incidunt corporis quidem quibusdam repellat iusto autem ratione quaerat.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi error aperiam eligendi, natus recusandae quibusdam. Numquam facilis officiis saepe nostrum quos ullam excepturi repellat minima quas sunt inventore, laudantium nemo quaerat, sit cumque nesciunt natus! Doloribus praesentium, error quasi nobis fugiat, incidunt corporis quidem quibusdam repellat iusto autem ratione quaerat.
        </div>
    </div>
</div>
